<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title> Hii</ion-title> -->
    <div class="tab-header" >
      <div class="name-div">Hii  {{userName}}</div>
      <div class="log-div" (click)="logOut()"> <ion-icon name="log-out" ></ion-icon></div>
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body-div">
    <div class="filters">
      <div class="filter-amount">
        <ion-item>
          <ion-select  interface="popover"
            placeholder="Filter Amount" (ionChange)="getAmountWiseData($event)" [(ngModel)]="budgetId">
            <ion-select-option *ngFor="let amo of ( amount | async)" [value]="amo.id">
              {{ amo.budget }} 
            </ion-select-option>
          </ion-select>
         
        </ion-item>
      </div>
      <div class="filter-date">
        <ion-item>
          <ion-select  interface="popover" placeholder="Filter Date"
               (ionChange)="getFilterWiseData($event)" [(ngModel)]="dateId" >
                <ion-select-option *ngFor="let e of ( filteredData | async)" [value]="e.filterData">
                  {{ e.filterData }} 
                </ion-select-option>
              </ion-select>

         
        </ion-item>
      </div>
      <div class="clear-div">
        <!-- <span >Clear</span> -->
        <ion-icon name="refresh-circle" (click)="removeFilter()"></ion-icon>

      </div>
    

     
    </div>
    <div class="card-div">
      <ion-card button *ngFor="let todo of (budgetData | async)">
        <div class="fix-amount" >
          <span>{{ formatTimestamp(todo.timestamp)}}</span>
          <div *ngFor="let amo of ( amount | async)">
            <div *ngIf="todo.setAmountId == amo.id">
              <h1>Fix Amount :  ₹ {{amo.budget}}</h1>
            </div>
           
          </div>
        </div>
        <div class="card-header"  *ngFor="let exp of ( expense | async)">
          <div *ngIf="todo.expenseNameId == exp.id">
            <h4>{{exp.expense}}</h4>
            <h2>Expense Amount :  ₹ {{todo.expenseAmount}}</h2>
          </div>
        </div>
   
    <div class="btn-div">
      <button class="submit-btn" (click)="goToEdit(todo.id)">Edit</button>
      <button class="submit-btn" (click)="deleteBudgetsList(todo.id)">Delete</button>
    </div>
    <!-- </div> -->
      </ion-card>
    </div>
    <div class="data-found" *ngIf="noDataVisible">
      No data 
    </div>
  </div>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <div class="footer-divs">
      <div class="records" class="active-footer">
        <div class="records-div" routerLink="/records">
          <ion-icon name="list"></ion-icon>
          <span>Records</span>
        </div>
      </div>
      <div class="analysis">
        <div class="analysis-div" routerLink="/analysis">
          <ion-icon name="analytics"></ion-icon>
        <span>Analytics</span>
        </div>
      </div>
      <div class="budgets">
        <div class="budgets-div" routerLink="/budgets">
          <ion-icon name="cash"></ion-icon>
          <span>Budgets</span>
        </div>
      </div>
      <div class="goals" >
        <div class="goals-div" routerLink="/goals">
          <ion-icon name="trophy"></ion-icon>
        <span>Goals</span>
        </div>
      </div>
      <div class="remainder">
        <div class="remainder-div" routerLink="/remainder">
          <ion-icon name="notifications"></ion-icon>
          <span>Remainder</span>
        </div>
      </div>


     

    </div>
  </ion-toolbar>
</ion-footer>